PGHOST=your-neon-host
PGUSER=your-prod-user
PGDATABASE=your-prod-db
PGPASSWORD=your-prod-password
SSL_FALSE=true
PORT=9090

JWT_SECRET=your-jwt-secret
JWT_EXPIRES_IN=45d

# Optional SMTP settings
# SMTP_HOST=smtp.gmail.com
# SMTP_PORT=587
# SMTP_USER=
# SMTP_PASS=
